@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geostar&display=swap');

article {
    width: 700px;
    margin: 0px auto;

    border: 1px solid black;
    border-radius: 10px;

    padding: 10px;
}
p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.5em;
}

h1 {
    font-family: 'Cormorant SC', serif;
}
h2 {
    font-family: 'Geostar', serif;
}