/* 
        Fontes Internas
*/
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format(opentype)
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(19, 90, 112) 50%, rgb(40 49 68));
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
}
header section {
    padding: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: rgba(255, 0, 0, 0); /*Fundo guia*/
}

nav {
    max-width: 100%;
    padding: 10px;

    border-top: 1px solid rgba(255, 255, 255, 0.425);
}


header ul {
    background-color: rgba(0, 174, 255, 0);/*Fundo guia*/
    max-width: 400px;
    min-width: 50px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
}

header h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 10px;

    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.712);
    letter-spacing: -2px;
    word-spacing: 5px;

    font-size: 1.6em;
    background-color: rgba(0, 255, 255, 0); /*Fundo guia*/
}

header p {
    margin: 10px;
    text-align: center;
    color: rgb(224, 224, 224);
    background-color: rgba(0, 0, 0, 0);  /*Fundo guia*/
}


header a {
    margin: 10px;
    color: white;
    text-decoration: none;
}

header a:hover {
    transition: 0.5s all ease;
    color: rgb(165, 165, 165);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-decoration: underline;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgb(255 255 255), #1895948c);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 800px;
    padding: 0px 20px 0px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 140, 255, 0); /*Fundo guia*/
    background-color: white;
}

main section {
    width: 800px;
    padding: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: rgba(255, 0, 0, 0); /*Fundo guia*/
}
main h1, h2 {
    padding: 5px;
    font-family: 'Android';
    color: rgb(3 198 254);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.575);
    font-weight: 100;
    background-color: rgba(255, 0, 0, 0);
    text-align: center;
}


main h2 {
    background-image: linear-gradient(50deg, rgb(203 224 224), white);
    font-size: 1.3em;
}

main p {
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
}

main section {
    width: 100%;
    display: flex;
    align-items: flex-start;

}

article {
    width: 100%;
    background-color: rgba(21, 255, 0, 0); /*Fundo guia*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

main img {
    width: 600px;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0); /*Fundo guia*/
}

#bugdroid {
    width: 300px;
}

#videoAndroid {
    padding: 20px;

    border-bottom: 1px solid rgb(0, 217, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
}

#conteudoExtra {
    width: 650px;

    margin: 10px;
    padding: 0px;

    border-radius: 10px;
}

#conteudoExtra h3 {
    padding: 20px 0px 10px 20px;
    width: 100%;
    text-shadow: 0px 0px 2px white;
    color: rgb(106 106 106);
    border-radius: 10px 10px 0px 0px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    background-image: linear-gradient(50deg, rgb(0 224 255 / 4%), #ffffff);
}

#conteudoExtra article {
    background-color: rgb(0 224 255 / 4%);
    border-left: 1px solid rgba(0, 0, 0, 0.404);
    border-right: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 10px;
}

#conteudoExtra side {
    display: flex;
}

#conteudoExtra ul {
    list-style: none;
    margin: 20px;
}

#conteudoExtra li {
    padding: 10px;
}

.icone {
    width: 60px;
    padding: 0px;
    margin-right: 2px;
}

/* Coisa incrementadas (Links, marcação)*/

mark {
    background-color: white;
}

mark > a {
    color: rgb(0, 204, 240);
    text-decoration: none;
}

mark > a::after {
    content: '🔗';
}


footer {
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.39);
    color: rgb(3 198 254);
}

footer > p {
    text-align: center;
    text-shadow: 0px 0px 1px black;

}