@charset "UTF-8"; /* caso haja problemas com acentuação */

/* Fonte importadas do Google Fonte */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

/* configuração para resetar as configuração da margin, padding*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Paleta de cores é Font das letras */
:root {
    --fundoHeader: black;
    --fundoParagrafo: rgba(0, 0, 0, 0.541);
    --fonteH1: 'Passion One', sans-serif;
    --fonteP: 'Sriracha', cursive;
}
header {
    width: 100vw;
    height: 250px;
    background-color: var(--fundoHeader);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    font-family: var(--fonteH1);
    color: white;
    font-size: 4.5em;
}

header a {
    color: rgb(189, 189, 189);
    text-decoration: none;
}

header strong {
    color: white;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    width: 1000px;
    background-color: rgba(255, 0, 0, 0);
}

main section {
    font-family: var(--fonteSriracha);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 2em;
}

section > p {
    padding-bottom: 2em;
}

section.nomal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(58, 58, 58);
    color: rgb(139, 113, 113);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.507);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../image/background001.jpg);
}
section#img02 {
    background-image: url(../image/background002.jpg);
}

footer {
    width: 100vw;
    border-top: 1px solid black;
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
}

footer section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}


footer article {
    display: flex;
    flex-direction: column;
}

footer article a {
    color: white;
    text-decoration: none;
    transition: all ease .5s;
}

footer article a:hover {
    color: rgba(189, 189, 189, 0.507);
    text-decoration: none;
}

footer h2 {
    padding-right: 20px;
}

footer h3 {
    width: 370px;
}


footer h3 > a {
    color: rgb(77, 185, 248);
    text-decoration: none;
    transition: all ease .5s;
}

footer h3 > a:hover {
    color: rgb(0, 142, 224);
}

ion-icon {
    width: 50px;
}

@media screen and (max-width: 1000px) {
    main {
        width: 100vw;
    }
}

@media screen and (max-width: 500px) {
    header h1 {
        font-size: max(2vw, 12vw);
    }

    main section {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 30px;
        padding-top: 30px;
        font-size: max(2vw, 7vw);
        padding-left: 0px;
    }

    section {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    ion-icon {
        width: 20px;
    }

    footer h3 {
        min-width: 130px;
        max-width: 80px;  
    }

    footer {
        font-size: 4vw;
    }
}