body {
    /* background-color: black;
    background-image: url(../image/imagens-cap19/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */

    /* Shorthan - background
        color > image > position > repeat > [size]
    */
    background: black url('../image/imagens-cap19/wallpaper002.jpg') center center no-repeat fixed;
    background-size: cover;
}

main {
    background-color: white;
    min-width: 220px;
    max-width: 600px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}