body {
    font-family: Arial, Helvetica, sans-serif;
    /*
    Medidas Absolutas
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, vh, %

    16px geralmente = 1em
    */
    font-size: 1em;
}

h1 {
/* Shorthand font

font-style -> font-weight -> font-size -> font-family

font-family: 'Work Sans', sans-serif;
font-weight: border;
font-size: 3em;
font-style: italic;
*/

    font: italic bolder 3em 'Arial, Helvetica, sans-serif';
}

h2 {
    font: bold 2em 'sans-serid'
}