@charset "UTF-8"; /* Caso haja problemas com acentuação*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

header {
    background-color: rgb(138, 138, 138);
    margin-bottom: 50px;
}

header h1 {
    padding: 10px;
    text-align: center;
}

header menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header ul {
    height: 0px;
    margin: auto;
    list-style: none;
    transition: all ease-out .3s;
}

menu > ul > li > a {
    display: block;
    padding-left: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    border-left: 1px solid rgb(0, 0, 0);
    transition: all ease-out .5s;
}

menu > ul > li > a:hover {
    color: rgb(219, 219, 219);
    border-left: 1px solid rgb(218, 0, 0);
    text-decoration: underline;
}


header #menu-Humburguer {
    cursor: pointer;
}

header li {
    opacity: 0;
    cursor: pointer;
    margin: 5px;
    display: none;
}

main {
    width: 90vw;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px 10px;
    margin-bottom: 10px;
}

main section {
    width: 100%;
}


main h2 {
    text-align: center;
    padding: 10px;
}

main p {
    text-align: justify;
    line-height: 30px;
    text-indent: 20px;
    font-size: 1.2em;
    padding: 10px;
}

footer {
    background-color: darkgray;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

footer p:hover {
    color: rgb(43, 43, 43);
}

.toggleMenu {
    height: 40vh;
}
.toggleAddOpcao {
    display: block;
    opacity: .8;
}

@media screen and (min-width: 700px){
    #menu-Humburguer {
        display: none;
    }

    header {
        height: 125px;
    }

    header ul {
        display: flex;
        align-items: flex-end;
        height: 70px;
        width: 100vw;
        background-color: rgba(169, 169, 169, 0.253);
    }

    header li {
        display: block;
        opacity: 1;
    }
}